<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
	   <viewerContribution
            id="RecordJsonProperty.contribution1"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <action
               id="RecordJsonProperty.action1"
               label="Add JSON Property"
               class="recordjsonproperty.handlers.RecordJsonPropertyHandler"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>


</plugin>
